html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    border-top: 3px solid #ffe000;
}

#map {
    min-height: 100vh;
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 25% 1fr;
}

#sidebar {
    text-align: center;
    background: #1b1b1b;
    color: white;
}

.pre-heading {
    letter-spacing: 5px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
    padding-top: 15px;
}

h1 {
    margin-top: 0;
}

#sidebar ul {
    text-align: left;
    line-height: 1.75;
    padding: 0 10%;
}

#sidebar ul li {
    list-style: none;
    border-bottom: 1px dashed #757575;
    padding-left: 5px;
    margin-bottom: 5px;
    border-left: 4px solid #ffe000;
}

#sidebar ul li:hover {
    background: #3c3c3c;
    transition: background 0.3s;
}

.toggle a {
    color: #ffe000;
    text-decoration-style: dotted;
    text-decoration-color: white;
    font-weight: 600;
    font-size: 100%;
}

li h3 {
    margin: 0;
}

.toggle p {
    font-size: 70%;
}

.toggle {
    display: none;
}

@media only screen and (max-width:485px) {
    .content {
        grid-template-columns: unset;
    }
}


.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    height: 1px;
    width: 1px;
}
