html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    min-height: 100vh;
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 25% 1fr;
}

#sidebar {
    text-align: center;
    background: #1b1b1b;
    color: white;
}

.pre-heading {
    letter-spacing: 5px;
    margin-top:0;
    text-transform: uppercase;
    font-weight:100;
    font-size:15px;
    padding-top:15px;
}

h1 {
    margin-top:0;
}

#sidebar ul {
    text-align: left;
    line-height: 1.75;
    padding: 0 10%;
}

#sidebar ul li {
    list-style: none;
    border-bottom: 1px dashed #757575;
    padding-left:5px;
    margin-bottom:5px;
    border-left:4px solid #ffe000;
}


@media only screen and (max-width:485px) {
    body {
        grid-template-columns: unset;
    }
}