html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    border-top: 3px solid #ffe000;
}

#map {
    min-height: 100vh;
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 25% 1fr;
}

#sidebar {
    text-align: center;
    background: #131447;
    color: white;
}

.pre-heading {
    letter-spacing: 5px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
    padding-top: 15px;
}

h1 {
    margin-top: 0;
}

#sidebar ul {
    text-align: left;
    line-height: 1.75;
    padding: 0 10%;
}

#sidebar ul li {
    list-style: none;
    border-bottom: 1px dashed #ffe000;
    padding-left: 5px;
    margin-bottom: 5px;
    border-left: 4px solid #dd2e44;
}

#sidebar ul li:hover {
    background: #0D0D0D;
    transition: background 0.3s;
}

.toggle a {
    color: #ffe000;
    text-decoration-style: dotted;
    text-decoration-color: white;
    font-weight: 600;
}

li h3 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family:monospace;
}

.toggle p {
    font-style: italic;
}

.toggle p strong {
    font-weight: 900;
    text-transform: uppercase;
    font-style:none;
}

.toggle {
    display: none;
    font-size: 70%
}

@media only screen and (max-width:485px) {
    .content {
        grid-template-columns: unset;
    }
}

.infowindow {
    background: #dd2e44;
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 900;
}

.filter {
    padding: 0.5px 0 20px;
    background: #ffe02b;
    color: #131447;
}