html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 25% 1fr;
}

#sidebar {
    text-align: center;
    background: #1b1b1b;
    color: white;
    padding: 5% 0;
}

#sidebar h2 {
    letter-spacing: 5px;
}

#sidebar ul {
    text-align: left;
    line-height: 1.75;
}

#sidebar input {
    width: 80%;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 7%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px dashed white;
    color: white;
    font-size: 15px;
    font-style: italic;
}


@media only screen and (max-width:485px) {
    body {
        grid-template-columns: unset;
    }
}